<div> 
  <h2>Edición de Medios</h2>
  <div class="panel panel-success">
    <div class="panel-heading">
        Ingrese los datos a modificar
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <form role="form" name=mediosEForm>
                    
                    <<div class="form-group">
                        <input class="form-control" placeholder=" Nombre" name="nombre" ng-model="nombre"disabled>
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder=" Destino" ng-model="destino"
                        name="destino" ng-minlength="3" ng-maxlength="50" 
                        ng-pattern="/^[A-Za-z0-9 ]+$+_+-+./"required>

                        <span style="color:red" ng-show="mediosEForm.destino.$touched && mediosEForm.destino.$error.required">Ingrese el destino.</span> 

                         <span style="color:red" ng-show="mediosEForm.destino.$touched && mediosEForm.destino.$error.minlength">El destino debe contener al menos 3 caracteres.</span>
                        
                        <span style="color:red" ng-show="mediosEForm.destino.$touched && mediosEForm.destino.$error.maxlength">El destino no puede tener más de 50 caracteres.</span>
                        
                        <span style="color:red" ng-show="mediosEForm.destino.$touched && mediosEForm.destino.$error.pattern">El destino no puede contener espacios en blanco.</span>

                    </div>

                     <div class="form-group">
                        <input class="form-control" placeholder=" Dominio" name="dominio" ng-model="dominio" ng-minlength="3" ng-maxlength="50" 
                        ng-pattern="/^([A-Za-z0-9 ]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i"required>

                        <span style="color:red" ng-show="mediosEForm.dominio.$touched && mediosEForm.dominio.$error.required">Ingrese el dominio.</span> 

                         <span style="color:red" ng-show="mediosEForm.dominio.$touched && mediosEForm.dominio.$error.minlength">El dominio debe contener al menos 3 caracteres.</span>
                        
                        <span style="color:red" ng-show="mediosEForm.dominio.$touched && mediosEForm.dominio.$error.maxlength">El dominio no puede tener más de 50 caracteres.</span>
                        
                        <span style="color:red" ng-show="mediosEForm.dominio.$touched && mediosEForm.dominio.$error.pattern">El formato del dominio es invalido. (Ex: pyxis.com o antel.com.uy)</span>

                    </div>

                     <div class="form-group">
                        <div class="checkbox">
                            <label><input type="checkbox"  ng-model="checkedMail"  ng-disabled="checkedSMS" value="">Es del tipo Mail </label>
                            <label><input type="checkbox"  ng-disabled="checkedMail" ng-model="checkedSMS" value=""> Es del tipo SMS </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <input class="form-control" ng-disabled="checkedMail" placeholder="Clave del SMS">
                    </div>

                    <div class="form-group">
                    <button class="btn btn-md btn-success" ng-click="submitMedios();"">Editar</button>
                    <button class="btn btn-md" ui-sref="medios">Cancelar</button>
                    </div>
                </form>
            </div>            
        </div>        
    </div>
  </div>
</div>