<div> 

  <h2>Medios</h2>

    <div class="panel panel-warning" ng-hide="tienePermiso">
        <div class="panel-heading">
        No tiene permisos suficientes para acceder a esta funcionalidad.
        </div>
    </div>

    <div class="panel panel-success" ng-show="tienePermiso">

        <div class="panel-heading">
            Medios de comunicación del sistema
        </div>    
  
        <div class="panel-body">
            <table datatable="ng" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Destino</th>
                        <th>Clave</th>
                        <th>Dominio</th>
                        <th>Tipo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="medio in datos" >
                        
                        <td>{{medio.nombre}}</td>
                        
                        <td>{{medio.destino}}</td>               
                        
                        <td>{{medio.clave}}</td>
                        
                        <td>{{medio.dominio}}</td>
                        
                        <td>{{medio.tipo}}</td>
                        
                        <td>                     
                            <a class="btn btn-success btn-xs" title="Editar" ng-click="editarMedio(medio);" >
                            <i class="glyphicon glyphicon-pencil"></i></a>

                            <a class="btn btn-danger btn-xs" title="Eliminar" data-toggle="modal" data-target="#confirmar"  
                            ng-click="setearMedioAEliminar(medio);">
                            <i class="glyphicon glyphicon-remove"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>     
        <div> 
            <button class="btn btn-md " ng-click="crearMedio();">Crear Medio</button>
        </div>

        <div class="alert-danger">{{msjerror}}</div>  
</div>
       
<div class="modal fade" id="confirmar" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"> 
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmar Eliminar</h4>
            </div>
            <div class="modal-body">
            <p>¿Desea eliminar el medio seleccionado?</p>
            </div>  
            <div class="modal-footer">
            <button type="button" class="btn btn-md" data-dismiss="modal" ng-click="eliminarMedio();" >Aceptar</button>
            <button type="button" class="btn btn-md" ui-sref="medios-listar" data-dismiss="modal">Cancelar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->     