<div>
  <h1>{{titulo}}</h1>

  <div class="jumbotron">
    <div class="container">
      <table datatable="" class="table table-striped table-bordered table-hover">
          <thead>
          <tr>
              <th>ID</th>
              <th>First name</th>
              <th>Last name</th>
              <th></th>
              <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
              <td>1</td>
              <td>Foo</td>
              <td>Bar</td>
              <td><a ui-sref="notificaciones.edit"><i class="btn btn-outline btn-md glyphicon glyphicon-edit"></i></a></td>
              <td><a ui-sref="notificaciones.edit"><i class="btn btn-outline btn-md glyphicon glyphicon-remove"></i></a></td>
          </tr>
          <tr>
              <td>123</td>
              <td>Someone</td>
              <td>Youknow</td>
              <td><a ui-sref="notificaciones.edit"><i class="btn btn-outline btn-md glyphicon glyphicon-edit"></i></a></td>
              <td><a ui-sref="notificaciones.edit"><i class="btn btn-outline btn-md glyphicon glyphicon-remove"></i></a></td>
          </tr>
          <tr>
              <td>987</td>
              <td>Iamout</td>
              <td>Ofinspiration</td>
              <td><a ui-sref="notificaciones.edit"><i class="btn btn-outline btn-md glyphicon glyphicon-edit"></i></a></td>
              <td><a ui-sref="notificaciones.edit"><i class="btn btn-outline btn-md glyphicon glyphicon-remove"></i></a></td>
          </tr>
          </tbody>
      </table>
  </div>
  <div class="jumbotron">
    {{data}}
  </div>
  </div>
</div>
</div>