<div>	
	<h2>Notificaciones <small>Why?</small></h2>
	<div class="jumbotron">
		<div class="container">
			<h1>Welcome!</h1>					 
	   		<table datatable="" class="table table-striped table-bordered table-hover">
	          <thead>
	          <tr>
	              <th>ID</th>
	              <th>First name</th>
	              <th>Last name</th>
	              <th></th>
	              <th></th>
	          </tr>
	          </thead>
	          <tbody>
	          <tr>
	              <td>1</td>
	              <td>Foo</td>
	              <td>Bar</td>
	              <td><i class="btn btn-outline btn-md glyphicon glyphicon-edit"></i></td>
	              <td><i class="btn btn-outline btn-md glyphicon glyphicon-remove"></i></td>
	          </tr>
	          <tr>
	              <td>123</td>
	              <td>Someone</td>
	              <td>Youknow</td>
	            <td><i class="btn btn-outline btn-md glyphicon glyphicon-edit"></i></td>
	              <td><i class="btn btn-outline btn-md glyphicon glyphicon-remove"></i></td>
	          </tr>
	          <tr>
	              <td>987</td>
	              <td>Iamout</td>
	              <td>Ofinspiration</td>
	             <td><i class="btn btn-outline btn-md glyphicon glyphicon-edit"></i></td>
	              <td><i class="btn btn-outline btn-md glyphicon glyphicon-remove"></i></td>
	          </tr>
	          </tbody>
	      	</table>
			<p>
				<a class="btn btn-primary btn-lg btn-outline btn-rounded">Learn more</a>
			</p>
		<div>
	</div>
	</div>
</div>