<div> 
 <h2>Sistema de Gestion de Alertas </h2>

<!-- Panel de Success para Tabla de Medios -->
    <div class="panel panel-info" >

        <div class="panel-heading">
            Expanda las secciones para mayor informacion del sistema.
        </div>    


 <div class="panel-body">
 <div class="panel-group" id="accordion">

 <!--Fila uno con 3 contenedores--> 
  <div class="row">    
    <!-- Box 1 -->
    <div class="col-xs-3 col-md-4">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse1"> Notificaciones</a></h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">El modulo.....</div>
        </div>
      </div>
    </div>
    <!--BOX 2-->
    <div class="col-xs-3 col-md-4">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse2"> Reportes</a></h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">Este componente.....</div>
        </div>
      </div>
    </div>
    <!--BOX 3-->
    <div class="col-xs-3 col-md-4">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse6"> Auditoria</a></h4>
        </div>
        <div id="collapse6" class="panel-collapse collapse">
        <div class="panel-body">Este componente.....</div>
        </div>
      </div>
    </div>
  </div>

 <div class="panel-body">

<!--Fila dos con 3 contenedores--> 
  <div class="row">    
<!--Box 4-->
    <div class="col-xs-3 col-md-4">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse3"> Usuarios</a></h4>
        </div>
      <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">Este componente.....</div>
      </div>
    </div>
  </div>
  <!--Box 5-->
    <div class="col-xs-3 col-md-4">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse4"> Medios</a></h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body">Este componente.....</div>
        </div>
      </div>
    </div>
  <!--Box 6-->
  <div class="col-xs-3 col-md-4">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse5"> Reglas</a></h4>
        </div>
        <div id="collapse5" class="panel-collapse collapse">
        <div class="panel-body">Este componente.....</div>
        </div>
      </div>
  </div>
</div>
</div>    
  </div>     
</div>