<div> 
  <h2>Cambiar Contraseña</h2>
    <div class="panel panel-info"> 
    <div class="panel-heading">Ingrese la contraseña de su perfil:</div>
  
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8 col-md-offset-1">

                <form role="form" name="contraseniaEForm" novalidate>
      
                    <div class="form-group has-feedback" novalidate>
                        <input class="form-control" placeholder="Usuario" name="usuario" 
                        ng-model="nombreUsuario" ng-disabled="true" >
                              
                    </div>

                    <div class="form-group has-feedback">
                        
                        <input class="form-control" placeholder="Contraseña" 
                        name="contrasenia" ng-model="contrasenia" 
                        type="password" ng-minlength="6" ng-maxlength="20" required>
                                
                
                          <!-- Validacion Campo Requerido-->
                                <span class="help-block" ng-show="contraseniaEForm.contrasenia.$touched && contraseniaEForm.contrasenia.$error.required">Ingrese la Contraseña.</span>
                                                          <!-- Validacion Maximo-->
                                <span class="help-block" ng-show="contraseniaEForm.contrasenia.$touched && contraseniaEForm.contrasenia.$error.maxlength">La contraseña no puede contener mas de 20 caracteres.</span>
                                <!-- Validacion Minimo-->
                                <span class="help-block" ng-show="contraseniaEForm.contrasenia.$touched && contraseniaEForm.contrasenia.$error.minlength">La contraseña debe contener al menos 6 caracteres.</span>

                        <!-- Validacion Error -->
                        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="contraseniaEForm.contrasenia.$touched && !contraseniaEForm.contrasenia.$valid"></span>
                        <!-- Validacion Error -->
                        <span class="glyphicon glyphicon-ok form-control-feedback" 
                        ng-show="contraseniaEForm.contrasenia.$touched && contraseniaEForm.contrasenia.$valid"></span>      
                    </div>
                    
                    <div class="form-group has-feedback">
                        <input class="form-control" placeholder="Repetir Contraseña" name="contrasenia2" 
                        ng-model="contrasenia2" type="password" 
                        ng-show="contraseniaEForm.contrasenia.$valid" required> 
                               
                                <!-- Validacion Campo Requerido-->
                                <span class="help-block" ng-show="contraseniaEForm.contrasenia.$touched && contraseniaEForm.contrasenia2.$touched && contraseniaEForm.contrasenia2.$error.required && 
                                contraseniaEForm.contrasenia.$valid">Repita la Contraseña.</span>

                                <!-- Validacion Contraseñas Coinciden-->
                                <span class="help-block" ng-show="contraseniaEForm.contrasenia.$touched && contraseniaEForm.contrasenia2.$touched && 
                                contraseniaEForm.contrasenia.$valid && contraseniaEForm.contrasenia2.$valid 
                                && !(contrasenia == contrasenia2)">Las contraseñas no coinciden.</span>


                        <!-- Validacion Error -->
                        <span class="glyphicon glyphicon-remove form-control-feedback" 
                        ng-show="contraseniaEForm.contrasenia.$touched && contraseniaEForm.contrasenia2.$touched && 
                        contraseniaEForm.contrasenia.$valid && 
                        (!contraseniaEForm.contrasenia2.$valid ||
                        !(contrasenia == contrasenia2))"></span>
                        
                        <!-- Validacion Error -->
                        <span class="glyphicon glyphicon-ok form-control-feedback" 
                        ng-show="contraseniaEForm.contrasenia.$touched && contraseniaEForm.contrasenia2.$touched && contraseniaEForm.contrasenia.$valid && contraseniaEForm.contrasenia2.$valid &&
                        (contrasenia == contrasenia2)"></span>

                    </div>
                </form>
                   
                    <button class="btn btn-md btn-success" 
                    ng-disabled="!contraseniaEForm.$valid || 
                        !(contrasenia == contrasenia2)" 
                        data-toggle="modal" data-target="#crear">Guardar</button>
                    
                    <button class="btn btn-md" data-toggle="modal" data-target="#cancelar" formnovalidate>Cancelar</button>
                        
                    </div>
                    
                </div> 
                    <div class="modal fade" id="cancelar" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Salir</h4>
                                </div>
                                <div class="modal-body">
                                    <p>¿Desea salir sin guardar los cambios?</p>
                                </div>  
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-md" data-dismiss="modal" ng-click="cancelar();">Aceptar</button>
                                    <button type="button" class="btn btn-md" ui-sref="perfil-contrasenia" data-dismiss="modal">Cancelar</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->

                    <div class="modal fade" id="crear" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header"> 
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Confirmar los cambios</h4>
                                </div>
                                <div class="modal-body">
                                    <p>¿Desea guardar los cambios?</p>
                                </div>  
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-md" data-dismiss="modal" ng-click="guardarContrasenia();">Aceptar</button>
                                    <button type="button" class="btn btn-md" ui-sref="perfil-contrasenia" data-dismiss="modal">Cancelar</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
            
            </div>            
        </div>  
    </div>
  </div>
</div>