<div> 
  <h2>Reglas</h2>
  <div class="panel panel-success">
    <div class="panel-heading">        
        Filtro y editor de Reglas
    </div>    
    <div class="panel-body">
        <table datatable="ng" class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Técnico</th>
                <th>Descripción</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
             <tr ng-repeat="regla in datos" >
                <td>{{regla.fecha}}</td>
                <td>{{regla.estado}}}</td>               
                <td>{{regla.tecnico}}</td>
                <td>{{regla.descripcion}}</td>
                <td>                     
                        <a class="btn btn-success btn-xs" ng-click="editarRegla(regla);" title="Editar"><i class="glyphicon glyphicon-pencil"></i></a>
                        <a class="btn btn-danger btn-xs" ng-click="eliminarRegla(regla);" title="Eliminar"><i class="glyphicon glyphicon-remove"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>      
    <div>
    <div class="alert-danger">{{msjerror}}</div>            
    <button class="btn btn-md " ng-click="crearRegla();">Crear Regla</button>
  </div>  
</div>       