<div>
  <a ui-sref="overview" class="pull-right btn btn-primary btn-outline btn-rounded">Crear una Notificacion</a>
     <h1>Reglas</h1>

  <div class="jumbotron">
    <div class="container">
          <table datatable="" class="table table-striped table-bordered table-hover">
          <thead>
          <tr>
              <th>ID</th>
              <th>First name</th>
              <th>Last name</th>
              <th></th>
              <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
              <td>1</td>
              <td>Foo</td>
              <td>Bar</td>
              <td><i class="glyphicon glyphicon-edit"/></td>
              <td><i class="glyphicon glyphicon-remove"/></td>
          </tr>
          <tr>
              <td>123</td>
              <td>Someone</td>
              <td>Youknow</td>
              <td><i class="glyphicon glyphicon-edit"/></td>
              <td><i class="glyphicon glyphicon-remove"/></td>
          </tr>
          <tr>
              <td>987</td>
              <td>Iamout</td>
              <td>Ofinspiration</td>
              <td><i class="glyphicon glyphicon-edit"/></td>
              <td><i class="glyphicon glyphicon-remove"/></td>
          </tr>
          </tbody>
      </table>
  </div>
  </div>
</div>
</div>