<div> 
 <h2>{{modoEditar() ? 'Edición': 'Creación'}} de Reglas</h2>
  <div class="panel panel-info">
    <div class="panel-heading">
        Ingrese los datos a modificar
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <form role="form" name=reglasEForm>

                    <div class="form-group has-feedback" novalidate>
                        <input class="form-control" name="nombre" placeholder="Nombre" ng-disabled="modoEditar();" ng-model="regla_seleccionada.nombre" 
                        ng-minlength="3" ng-maxlength="20" ng-pattern="/^[A-Za-z0-9]+$/"required>
                            <!-- Validacion Campo Requerido -->
                            <span class="help-block" ng-show="reglasEForm.nombre.$touched && reglasEForm.nombre.$error.required">Ingrese el nombre.</span>
                            <!-- Validacion Minimo Caracteres -->
                            <span class="help-block" ng-show="reglasEForm.nombre.$touched && reglasEForm.nombre.$error.minlength">El nombre debe contener al menos 3 caracteres.</span>
                            <!-- Validacion Maximo Caracteres -->
                            <span class="help-block" ng-show="reglasEForm.nombre.$touched && reglasEForm.nombre.$error.maxlength">El nombre no puede contener más de 20 caracteres.</span> 
                            <!-- Validacion Formato Patron -->
                            <span class="help-block" ng-show="reglasEForm.nombre.$touched && reglasEForm.nombre.$error.pattern">El nombre no puede contener caracteres especiales ni espacios.</span>
                    <!-- Validacion Error -->
                    <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="reglasEForm.nombre.$touched && !reglasEForm.nombre.$valid"></span>
                    <!-- Validacion Ok -->
                    <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="reglasEForm.nombre.$touched && reglasEForm.nombre.$valid"></span>
                    </div>

                     <div class="form-group has-feedback" novalidate>
                            <textarea class="form-control vresize" name="condicion" placeholder="Condición"  ng-model="regla_seleccionada.condicion"
                            rows="10"required></textarea>
                            <!-- Validacion Campo Requerido -->
                            <span class="help-block"  ng-show="reglasEForm.condicion.$touched && reglasEForm.condicion.$error.required">Ingrese la condición.</span> 
                        <!-- Validacion Error -->
                        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="reglasEForm.condicion.$touched && !reglasEForm.condicion.$valid"></span>
                        <!-- Validacion Ok -->
                        <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="reglasEForm.condicion.$touched && reglasEForm.condicion.$valid"></span>
                    </div>
                    <div class="form-group has-feedback" novalidate>
                            <select class="form-control input-sm" data-style="btn-default" placeholder="Acción" name="accion" data-live-search="true" ng-model="$scope.dataListaAcciones.seleccionado" name="accion"
                            ng-options="accion.nombre for accion in dataListaAcciones.opciones track by accion.nombre" required>
                            </select>
                            <!-- Validacion Campo Requerido -->
                            <span class="help-block"  ng-show="reglasEForm.accion.$touched && reglasEForm.accion.$error.required">Seleccione la acción.</span> 
                        <!-- Validacion Error -->
                        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="reglasEForm.accion.$touched && !reglasEForm.accion.$valid"></span>
                        <!-- Validacion Ok -->
                        <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="reglasEForm.accion.$touched && reglasEForm.accion.$valid"></span>
                    </div>
                    <div class="form-group has-feedback" novalidate>
                        <input type="number" class="form-control bfh-number" placeholder="Segundos" name="segundos" type="number" min="0" ng-model="regla_seleccionada.segundos" 
                         required>
                        <!-- Validacion Campo Requerido -->
                        <span class="help-block"  ng-show="reglasEForm.segundos.$touched && reglasEForm.segundos.$error.required">Ingrese los segundos.</span>
                          <!-- Validacion Campo Requerido -->
                        <span class="help-block"  ng-show="reglasEForm.segundos.$touched && reglasEForm.segundos.$error.min">El minimo de segundos es 0.</span>  
                        <!-- Validacion Error -->
                        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="reglasEForm.segundos.$touched && !reglasEForm.segundos.$valid"></span>
                        <!-- Validacion Ok -->
                        <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="reglasEForm.segundos.$touched && reglasEForm.segundos.$valid"></span>
                    </div>
                    <div class="form-group has-feedback" novalidate>                        
                        <textarea ng-model="regla_seleccionada.descripcion" 
                        class="form-control vresize" name="descripcion" placeholder="Descripción"  
                        rows="10" required></textarea>
                        <!-- Validacion Campo Requerido -->
                        <span class="help-block"  ng-show="reglasEForm.descripcion.$touched && reglasEForm.descripcion.$error.required">Ingrese la descripción.</span>
                        <!-- Validacion Error -->
                        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="reglasEForm.descripcion.$touched && !reglasEForm.descripcion.$valid"></span>
                        <!-- Validacion Ok -->
                        <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="reglasEForm.descripcion.$touched && reglasEForm.descripcion.$valid"></span>    
                    </div>
                    <div class="form-group has-feedback" novalidate>
                        <select multiple class="form-control input-sm" name="medio" data-style="btn-default" placeholder="Medio" data-live-search="true" ng-multiple="true" ng-model="dataListaMedios.seleccionado"
                        ng-options="medio.nombre for medio in dataListaMedios.opciones track by medio.nombre"
                        required >
                        </select>
                         <!-- Validacion Campo Requerido -->
                        <span class="help-block"  ng-show="reglasEForm.medio.$touched && reglasEForm.medio.$error.required">Seleccione el medio.</span>
                        <!-- Validacion Error -->
                        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="reglasEForm.medio.$touched && !reglasEForm.medio.$valid"></span>
                        <!-- Validacion Ok -->
                        <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="reglasEForm.medio.$touched && reglasEForm.medio.$valid"></span>        
                    </div>   
                    <div class="form-group">
                        <button class="btn btn-md btn-success" ng-disabled="!reglasEForm.$valid" data-toggle="modal" data-target="#crear">Crear</button>

                        <button class="btn btn-md" data-toggle="modal" data-target="#cancelar" formnovalidate>Cancelar</button>
                    </div>
                    <div class="modal fade" id="cancelar" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Salir</h4>
                                </div>
                                <div class="modal-body">
                                    <p>¿Desea salir sin guardar los cambios?</p>
                                </div>  
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-md" data-dismiss="modal" ng-click="cancelar();">Aceptar</button>
                                    <button type="button" class="btn btn-md" ui-sref="reglas-editar" data-dismiss="modal">Cancelar</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->

                    <div class="modal fade" id="crear" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header"> 
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Confirmar los cambios</h4>
                                </div>
                                <div class="modal-body">
                                    <p>¿Desea guardar los cambios?</p>
                                </div>  
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-md" data-dismiss="modal" ng-click="generarRegla();">Aceptar</button>
                                    <button type="button" class="btn btn-md" ui-sref="reglas-editar" data-dismiss="modal">Cancelar</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal

                </form>
            </div>            
        </div>        
    </div>
  </div>
</div>