<div>	
	<h2>Reportes</h2>
  <div class="panel panel-success">
    <div class="panel-heading">
				Seleccione uno de los filtros para generar su reporte
    </div>
    <div class="panel-body">
      <form role="form">      	
		  		<div class="form-group  col-md-4" >
				    <div class='input-group date' id='fini'>
              <input type='text' class="form-control" placeholder="Desde"/>
              <span class="input-group-addon">
                 <span class="glyphicon glyphicon-calendar"></span>
     					</span>
	          </div>
			  </div>
			  <div class="form-group col-md-4">
			    <div class='input-group date' id='ffin'>
            <input type='text' class="form-control" placeholder="Hasta"/>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
  	      </div>	
			  </div>
 			  <div class="form-group col-md-4">
				  <button type="submit" class="btn btn-default btn-md ">Generar</button>
				</div>
			  <div class="form-group col-md-4">
				  <select name="tecnico" class="form-control input-sm"
				  ng-model="lstTecnicos.seleccionado" placeholder="Técnico" 
				  ng-options="tecnico.nombre for tecnico in lstTecnicos.opciones track by tecnico.nombre">
				  </select>
			  </div>
			  <div class="form-group  col-md-4">
				  <select ng-model="filtro.estado" placeholder="Estado" class="form-control input-sm">
					  <option ng-repeat="estado in lstEstado"
							  value="{{estado}}" data-subtext="{{estado.id}}">{{estado.nombre}}</option>
				  </select>
			  </div>
  		</form>
    </div>
  </div>		  
	<div class="panel panel-default">    
    <div class="panel-body">

		<table datatable="ng" class="table table-striped table-bordered table-hover">
			<thead>
			<tr>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Técnico</th>
                <th>Descripción</th>
                <th>Comentario</th>
            </tr>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="notificacion in datos" >
				<td>{{notificacion.fecha}}</td>
				<td>{{notificacion.estado}}</td>
				<td>{{notificacion.tecnico}}</td>
				<td>{{notificacion.descripcion}}</td>
                <td>{{notificacion.comentario}}</td>
			</tr>
			</tbody>
		</table>
		<div>
	</div>	
</div>