<div>	
	<h2>Reportes</h2>
	<div class="panel panel-success">
    	<div class="panel-heading">
				Seleccione uno de los filtros para generar su reporte:
		</div>	
   
    <div class="panel-body">

    <form role="form" name="filtroform">    

	<div class="row">
	    
	    <div class="col-xs-6 col-md-4">
    		<select class="form-control input-sm" data-style="btn-default" placeholder="Filtro" 
     		name="filtro"  data-live-search="true" ng-model="dataListaFiltro.seleccionado" ng-options="filtro.nombre for filtro in dataListaFiltro.opciones track by filtro.nombre" required>
    		</select>
		</div>    

		<div class="col-xs-6 col-md-4">
		  	<div class="form-group has-feedback"  novalidate>
            	
            	<input class="form-control" 
            	ng-show="dataListaFiltro.seleccionado.nombre == 'fecha';" 
            	placeholder="Desde (DD-MM-YYYY)" name="desde"  ng-model="desde" 
            	ng-pattern="/^(0?[1-9]|1\d|2[0-8]|29(?=[-]\d?\d[-](?!1[01345789]00|2[1235679]00)\d\d(?:[02468][048]|[13579][26]))|30(?![-]0?2)|31(?=[-]0?[13578]|[-]1[02]))[-](0?[1-9]|1[0-2])[-]([12]\d{3})$/">
     
                    <!-- Validacion Patron del formato-->
	                    <span class="help-block" ng-show="filtroform.desde.$touched && filtroform.desde.$error.pattern &&dataListaFiltro.seleccionado.nombre == 'fecha';" >Formato fecha invalido.</span>
                    <!-- Validacion Error -->
                        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="filtroform.desde.$touched && !filtroform.desde.$valid && dataListaFiltro.seleccionado.nombre == 'fecha';""></span>
	                <!-- Validacion Ok -->
	                	<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="filtroform.desde.$touched && filtroform.desde.$valid && dataListaFiltro.seleccionado.nombre == 'fecha';""></span>

		

				<select name="tecnico" class="form-control input-sm"
				ng-model="lstTecnicos.seleccionado" placeholder="Técnico"
				ng-shohide="dataListaFiltro.seleccionado.nombre != 'técnico';" 
				ng-show="dataListaFiltro.seleccionado.nombre == 'técnico';" 
				ng-options="tecnico.nombre for tecnico in lstTecnicos.opciones track by tecnico.nombre">
				</select>


				<select ng-model="filtro.estado" placeholder="Estado" 
				ng-hide="dataListaFiltro.seleccionado.nombre != 'estado';"
				ng-show="dataListaFiltro.seleccionado.nombre == 'estado';"
				class="form-control input-sm">
				<option ng-repeat="estado in lstEstado" value="{{estado}}" data-subtext="{{estado.id}}">{{estado.nombre}}</option>
				</select>

	    	</div> 
	    </div>
	        
		<div class="col-xs-6 col-md-4">
			<div class="form-group has-feedback" novalidate>

				<input class="form-control" 
				ng-show="dataListaFiltro.seleccionado.nombre == 'fecha';" 
				placeholder="Hasta (DD-MM-YYYY)"  name="hasta"  ng-model="hasta" 
               	ng-pattern="/^(0?[1-9]|1\d|2[0-8]|29(?=[-]\d?\d[-](?!1[01345789]00|2[1235679]00)\d\d(?:[02468][048]|[13579][26]))|30(?![-]0?2)|31(?=[-]0?[13578]|[-]1[02]))[-](0?[1-9]|1[0-2])[-]([12]\d{3})$/">
                        
                                            
	                        <!-- Validacion Patron del formato-->
	                        <span class="help-block" ng-show="filtroform.hasta.$touched && filtroform.hasta.$error.pattern &&dataListaFiltro.seleccionado.nombre == 'fecha';"">Formato fecha invalido.</span>

	                        <!-- Validacion Error -->
	                        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="filtroform.hasta.$touched && !filtroform.hasta.$valid && dataListaFiltro.seleccionado.nombre == 'fecha';"></span>
	                        <!-- Validacion Ok -->
	                        <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="filtroform.hasta.$touched && filtroform.hasta.$valid && dataListaFiltro.seleccionado.nombre == 'fecha';"></span> 

	        </div>
	    </div>
	</div>
	<div class="form-group ">

         		<button type="submit" class="btn btn-default btn-md ">Generar</button>

			</div>

	</form>
</div>
</div>




	           





	<div class="panel panel-default">    
    <div class="panel-body">

		<table datatable="ng" class="table table-striped table-bordered table-hover">
			<thead>
			<tr>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Técnico</th>
                <th>Descripción</th>
                <th>Comentario</th>
            </tr>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="notificacion in datos" >
				<td>{{notificacion.fecha}}</td>
				<td>{{notificacion.estado}}</td>
				<td>{{notificacion.tecnico}}</td>
				<td>{{notificacion.descripcion}}</td>
                <td>{{notificacion.comentario}}</td>
			</tr>
			</tbody>
		</table>
	<div>
	</div>	
</div>