<div>

	<h2>Reportes</h2>

  	<!--Panel de Warning: Permisos-->
	<div class="panel panel-warning" ng-hide="tengoPermiso('generar_reporte');">
    	<div class="panel-heading">
        No tiene permisos suficientes para acceder a esta funcionalidad.
    	</div>
  	</div>

  	<!--Pane de Reportes-->
  	<div class="panel panel-success" ng-show="tengoPermiso('generar_reporte');">

    	<div class="panel-heading">
				Seleccione uno de los filtros para generar su reporte:
		</div>

	<div class="panel-body"> 
	<div class="row">   
	    
	    <!--Filtro-->
	    <div class="col-xs-6 col-md-4">
    		<select class="form-control input-sm" data-style="btn-default" placeholder="Filtro" name="filtro"  data-live-search="true" ng-focus="onFocusDeFiltro();"
    		ng-model="dataListaFiltro.seleccionado" ng-options="filtro.nombre for filtro in dataListaFiltro.opciones track by filtro.nombre" required>
    		</select>
		</div>

		<!--Filtro-->
		<form role="form" name="fechaform">  	   
  	    <!--Fecha Desde-->
			<div class="col-xs-6 col-md-4" ng-show="dataListaFiltro.seleccionado.nombre == 'fecha';">
		  	<div class="form-group has-feedback"  novalidate> 
              <input class="form-control" 
                placeholder="desde (DD/MM/YYYY)" autocomplete="off"  name="desde"  ng-model="desde" 
                ng-pattern="/^(0?[1-9]|1\d|2[0-8]|29(?=[/]\d?\d[/](?!1[01345789]00|2[1235679]00)\d\d(?:[02468][048]|[13579][26]))|30(?![/]0?2)|31(?=[/]0?[13578]|[/]1[02]))[/](0?[1-9]|1[0-2])[/]([12]\d{3})$/" required>
                <!-- Validacion Requerido-->
                <span class="help-block" 
                ng-show="fechaform.desde.$touched && fechaform.desde.$error.required && 
                dataListaFiltro.seleccionado.nombre == 'fecha';" >Ingrese una fecha.</span>
                <!-- Validacion Patron del formato-->
                <span class="help-block" 
                ng-show="fechaform.desde.$touched && fechaform.desde.$error.pattern 
                && dataListaFiltro.seleccionado.nombre == 'fecha';" >Formato fecha invalido.</span>
                <!-- Validacion Error -->
                <span class="glyphicon glyphicon-remove form-control-feedback" 
                ng-show="fechaform.desde.$touched && !fechaform.desde.$valid && 
                dataListaFiltro.seleccionado.nombre == 'fecha';"></span>
                <!-- Validacion Ok -->
                <span class="glyphicon glyphicon-ok form-control-feedback" 
                ng-show="fechaform.desde.$touched && fechaform.desde.$valid && 
                dataListaFiltro.seleccionado.nombre == 'fecha';"></span>
         	</div> 
		  	</div> 
			 <!--Fecha Hasta-->
			<div class="col-xs-6 col-md-4" ng-show="dataListaFiltro.seleccionado.nombre == 'fecha';">
				<div class="form-group has-feedback" novalidate>
                <input class="form-control" 
                placeholder="hasta (DD/MM/YYYY)" autocomplete="off"  name="hasta"  ng-model="hasta" 
                ng-pattern="/^(0?[1-9]|1\d|2[0-8]|29(?=[/]\d?\d[/](?!1[01345789]00|2[1235679]00)\d\d(?:[02468][048]|[13579][26]))|30(?![/]0?2)|31(?=[/]0?[13578]|[/]1[02]))[/](0?[1-9]|1[0-2])[/]([12]\d{3})$/" required>
                <!-- Validacion Requerido-->
                <span class="help-block" 
                ng-show="fechaform.hasta.$touched && fechaform.hasta.$error.required && 
                dataListaFiltro.seleccionado.nombre == 'fecha';" >Ingrese una fecha.</span>
                <!-- Validacion Patron del formato-->
                <span class="help-block" ng-show="fechaform.hasta.$touched && fechaform.hasta.$error.pattern 
                && dataListaFiltro.seleccionado.nombre == 'fecha';">Formato fecha invalido.</span>
                <!-- Validacion Error -->
                <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="fechaform.hasta.$touched
                && !fechaform.hasta.$valid && dataListaFiltro.seleccionado.nombre == 'fecha';"></span>
                <!-- Validacion Ok -->
                <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="fechaform.hasta.$touched 
                && fechaform.hasta.$valid && dataListaFiltro.seleccionado.nombre == 'fecha';"></span>
          	</div>
			</div>
			</form>

			<!--Form xa Filtro de Tecnico-->
      		<form role="form" name="tecnicoForm">
			<div class="col-xs-6 col-md-4" 
			ng-show="dataListaFiltro.seleccionado.nombre == 'técnico';" >
			<div class="form-group has-feedback" novalidate>   
            <select ng-model="tecnicos.seleccionado" placeholder="Técnico" 
            class="form-control input-sm" ng-focus="onFocusDeTecnicos();" 
            ng-options="tecnico.usuario for tecnico in tecnicos.opciones track by tecnico.usuario" name="tecnico" required>
            </select>
              <!-- Validacion Requerido-->
              <span class="help-block" 
              ng-show="tecnicoForm.tecnico.$touched && tecnicoForm.tecnico.$error.required && 
              dataListaFiltro.seleccionado.nombre == 'técnico';" >Seleccione un técnico.</span>
                <!-- Validacion Error -->
                <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="filtroform.tecnico.$touched
                && !tecnicoForm.tecnico.$valid && dataListaFiltro.seleccionado.nombre == 'técnico';"></span>
                <!-- Validacion Ok -->
                <span class="glyphicon glyphicon-ok form-control-feedback" 
                ng-show="tecnicoForm.tecnico.$touched 
                && tecnicoForm.tecnico.$valid && dataListaFiltro.seleccionado.nombre == 'técnico';"></span>
          </div>
      
			</div>
			</form>

			<!--Form xa Filtro de Tipo de estado-->
			<form role="form" name="estadoForm"> 
			<div class="col-xs-6 col-md-4" ng-show="dataListaFiltro.seleccionado.nombre == 'estado';"><div class="form-group has-feedback"  novalidate> 
				<select ng-model="dataListaEstados.seleccionado" placeholder="Estado" 
				class="form-control input-sm" ng-options="estado.nombre for estado in dataListaEstados.opciones track by estado.nombre" name="estado" required>
				</select>
				 <!-- Validacion Requerido-->
                <span class="help-block" 
                ng-show="estadoForm.estado.$touched && estadoForm.estado.$error.required && 
                dataListaFiltro.seleccionado.nombre == 'estado';" >Seleccione un estado.</span>
                <!-- Validacion Error -->
                <span class="glyphicon glyphicon-remove form-control-feedback" 
                ng-show="estadoForm.estado.$touched && !estadoForm.estado.$valid && dataListaFiltro.seleccionado.nombre == 'estado';"></span>
                <!-- Validacion Ok -->
                <span class="glyphicon glyphicon-ok form-control-feedback" 
                ng-show="estadoForm.estado.$touched && estadoForm.estado.$valid && dataListaFiltro.seleccionado.nombre == 'estado';"></span>
    		</div>
			</div>
    		</form>

    <!--Boton Generar-->
		<div class="col-xs-6 col-md-4" 
			ng-show="dataListaFiltro.seleccionado.nombre == 'técnico';">
			<button type="submit" class="btn btn-default btn-md " 
			ng-disabled="!tecnicoForm.$valid"
			ng-click="ejecutarReporte();">Generar</button>
		</div>

		<div class="col-xs-6 col-md-4" ng-show="dataListaFiltro.seleccionado.nombre == 'estado';">
			<button type="submit" class="btn btn-default btn-md " 
			ng-disabled="!estadoForm.$valid"
			ng-click="ejecutarReporte();">Generar</button>
		</div>
		</div>
	<!--Boton Generar xa Fecha-->		
		<div class="form-group" ng-show="dataListaFiltro.seleccionado.nombre == 'fecha';">
			<button type="submit" class="btn btn-default btn-md " 
			ng-disabled= "!fechaform.desde.$valid || !fechaform.hasta.$valid || fechaInValida();" 
			ng-click="ejecutarReporte();">Generar</button>
		</div>
	</div>  
	</div>

  <!--Tabla de Reportes-->
	<div class="panel panel-default" ng-show="tengoPermiso('generar_reporte');">    
    <div class="panel-body">

		<table datatable="ng" class="table table-striped table-bordered table-hover">
			<thead>
			<tr>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Técnico</th>
                <th>Descripción</th>
                <th>Comentario</th>
            </tr>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="notificacion in datos" >
				<td>{{notificacion.fecha_creacion}}</td>
				<td>{{notificacion.estado}}</td>
				<td>{{notificacion.usuario}}</td>
				<td>{{notificacion.descripcion}}</td>
                <td>{{notificacion.comentario}}</td>
			</tr>
			</tbody>
		</table>
	</div>
	</div> 
        
        
  </div>
</div>
</div>

