<div>

  <h2>Usuarios</h2>
    <!-- Panel de Danger para Errores -->  
    <div class="panel panel-danger" ng-show="hayError"  >
        <div class="panel-heading">
        Ups! Ha ocurrido un error: {{msjerror}}.
        <button type="button"  class="close" data-dismiss="modal">&times;</button></button>
        <!--TODO: REFRESH AL CERRAR ERROR --> 
        </div>
    </div>
    <!-- Panel de Warning para Permisos -->
    <div class="panel panel-warning" ng-hide="tengoPermiso('listar_usuarios');">
        <div class="panel-heading">
        No tiene permisos suficientes para acceder a esta funcionalidad.
        </div>
    </div>
   <!-- Panel de Success para Tabla de Usuarios -->
    <div class="panel panel-success" ng-show="tengoPermiso('listar_usuarios');">

        <div class="panel-heading">
            Usuarios del sistema   
        </div>
    
        <div class="panel-body">
            <table datatable="ng" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Nombre</th>
                        <th>Mail</th>                
                        <th>Telefono</th>
                        <th>Tipo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody> 
                    <tr ng-repeat="usuario in datos" >

                        <td>{{usuario.usuario}}</td>
                        <td>{{usuario.nombre}}</td>
                        <td>{{usuario.mail}}</td>
                        <td>{{usuario.telefono}}</td>
                        <td>{{usuario.tipo_usuario}}</td>
                        <!-- Columna con iconos -->
                        <td>
                        <!-- Icono Editar -->                     
                            <a class="btn btn-success btn-xs" title="Editar" 
                            ng-show="tengoPermiso('editar_usuario');"
                            ng-click="editarUsuario(usuario);">
                            <i class="glyphicon glyphicon-pencil"></i></a>
                        <!-- Icono Eliminar -->   
                            <a class="btn btn-danger btn-xs" title="Eliminar" data-toggle="modal" data-target="#confirmar" 
                            ng-show="tengoPermiso('borrar_usuario');"
                            ng-click="setearUsuarioAEliminar(usuario);">
                            <i class="glyphicon glyphicon-remove"></i></a>
                        <!-- Icono Desbloquear -->    
                            <a class="btn btn-warning btn-xs" title="Usuario Bloqueado" ng-click="desbloquearUsuario(usuario);" 
                            ng-show="usuario.bloqueado && tengoPermiso('desbloquear_usuario');">
                            <i class="glyphicon glyphicon-lock"></i>
                            </a>
                        <!-- Icono Cambiar Contraseña -->
                             <a class="btn btn-info btn-xs" ng-show="tengoPermiso('cambiar_contrasenia_usuario');" ng-click="cambiarContrasenia(usuario);" title="Cambiar Contraseña" ><i class="glyphicon glyphicon-modal-window"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
    <div>
        <button class="btn btn-md " ng-show="tengoPermiso('crear_usuario');" ng-click="crearUsuario();" ng-hide="!tengoPermiso('crear_usuario')">Crear Usuario</button>
          </div>
      </div>   
  </div>
</div>  

<div class="modal fade" id="confirmar" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"> 
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmar Eliminar</h4>
            </div>
            <div class="modal-body">
                <p>¿Desea eliminar el usuario seleccionado?</p>
            </div>  
            <div class="modal-footer">
                <button type="button" class="btn btn-md" data-dismiss="modal" ng-click="eliminarUsuario();">Aceptar</button>
                <button type="button" class="btn btn-md" ui-sref="usuarios-listar" data-dismiss="modal">Cancelar</button>
            </div>
         </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->      
