<div>
  <h2>Usuarios</h2>
  <div class="panel panel-success">
    <div class="panel-heading">
        Usuarios del sistema   
    </div>
    
    <div class="panel-body">
        <table datatable="ng" class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>Usuario</th>
                <th>Nombre</th>
                <th>Mail</th>                
                <th>Telefono</th>
                <th>Tipo</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody> 
                <tr ng-repeat="usuario in datos" >
                    <td>{{usuario.usuario}}</td>                    
                    <td>{{usuario.nombre}}</td>
                    <td>{{usuario.mail}}</td>
                    <td>{{usuario.telefono}}</td>
                    <td>{{usuario.tipo_usuario}}</td>
                    <td>                     
                        <a class="btn btn-success btn-xs" ng-click="editarUsuario(usuario);" title="Editar"><i class="glyphicon glyphicon-pencil"></i></a>
                        <a class="btn btn-danger btn-xs" ng-click="eliminarUsuario(usuario);" title="Eliminar"><i class="glyphicon glyphicon-remove"></i></a></td>
                    <td><a class="btn btn-warning btn-xs" ng-click="desbloquearUsuario(usuario);"
                    title="Usuario Bloqueado"><i class="glyphicon glyphicon-lock"></i></a></td>
                </tr>
            </tbody>
        </table>      
    <div>
    <div class="alert-danger">{{msjerror}}</div>            
    <button class="btn btn-md " ng-click="crearUsuario();">Crear Usuario</button>
  </div>  
</div>       