@color-blue  : #007e94;
@color-grey  : #71706e;
@color-grey-light: #c6c5c5;
@color-red   : #c22335;
@color-yellow: #f5ad00;
@color-white : #FFFFFF;

.ui-base {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.logo-pic-avatar-lg {
	width : 858x;
	height: 316px;
}

.logo-pic-avatar-sm {
	width : 173px;
	height: 73px;
}

