
<div class="login-page">
	<div class="row">
		<div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2" >
        	<img src="images/pyxis_rac_lg.png" style="width: 100%; height: auto" class="logo-pic-avatar-lg" />
			<form role="form" name="loginForm" >
				<div class="form<i class='glyphicon glyphicon-eye-close' ></i>-content">
					
					<div class="form-group" >
						<input type="text" class="form-control input-underline-dark  input-lg" 	
						       placeholder="usuario" name="usuario" ng-model="usuario" required >
						<span ng-show="loginForm.usuario.$touched && loginForm.usuario.$error.required">Ingrese el usuario.</span>
					</div>
					<div class="form-group" >
						<input type="{{verpasswd_tipo();}}" placeholder="contraseña"
						       class="form-control input-underline-dark  input-lg" 
						       ng-model="contrasenia" name="contrasenia"
							   ng-keypress="$event.keyCode == 13 && mLogin();" required>

        				<span ng-show="loginForm.contrasenia.$touched && loginForm.contrasenia.$error.required">Ingrese la Contraseña.</span>
					</div>	
        		
						<input type="checkbox"  class="form-verpasswd" ng-model="noverpasswd" 
						       titulo="ver contraseña" />
					   <label for="verpasswd" >					        
        					<i class='glyphicon glyphicon-eye-close' ></i>
        					<i class='glyphicon glyphicon-eye-open'  ></i>
        					<span class='label-content'>Contraseña</span>
        				</label>
									
					<div >{{msjerror}}</div>

					<div class="form-group" >										
					<a class="btn btn-secondary btn-rounded btn-lg rac-grey-btn" 
					   ng-click="mLogin();" ng-disabled="!loginForm.$valid">Iniciar</a>
					</div>	
				</div>				
			</form>
		</div>	
	</div>
</div>
