
<div class="login-page">
	<div class="row">
		<div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2" >
        	<img src="images/pyxis_rac_lg.png" class="logo-pic-avatar-lg" />
			<form role="form" name="loginForm" >
				<div class="form-content">
					
					<div class="form-group" >
						<input type="text" class="form-control input-underline-dark  input-lg" placeholder="usuario" name="usuario" ng-model="usuario"required>
					</div>
					<span ng-show="loginForm.usuario.$touched && loginForm.usuario.$error.required">Ingrese el usuario.</span>
					
					<div class="form-group" >
						<input type="password" class="form-control input-underline-dark input-lg" placeholder="contraseña" name="contrasenia" ng-model="contrasenia"required>
					<span ng-show="loginForm.contrasenia.$touched && !loginForm.contrasenia.$valid">Ingrese la Contraseña.</span>
					</div>
				
				</div>
				<a class="btn btn-secondary btn-rounded btn-lg rac-grey-btn" ng-disabled="!loginForm.$valid" ng-click="mLogin();">Login</a>
			</form>
		</div>	
	</div>
</div>s
<!--class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4"-->